@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  /** Primary **/
  --clr-primary-Red: hsl(0, 100%, 74%);
  --clr-primary-Green: hsl(154, 59%, 51%);
  /** Accent **/
  --clr-accent-Blue: hsl(248, 32%, 49%);
  /** Neutral **/
  --clr-neutral-Dark-Blue: hsl(249, 10%, 26%);
  --clr-neutral-Grayish-Blue: hsl(246, 25%, 77%);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: var(--clr-primary-Red);
  background-image: url(../images/bg-intro-desktop.png);
  background-size: contain;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
  width: 80%;
  color: white;
}

.btn {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  background-color: var(--clr-primary-Green);
  padding: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 0 5px #30bb7f;
          box-shadow: 0 5px #30bb7f;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #4dd198;
  -webkit-box-shadow: 0 5px #3ccd8e;
          box-shadow: 0 5px #3ccd8e;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.hero-text {
  margin: auto;
}

.hero-title {
  font-size: 2.5rem;
  max-width: 30rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero-p {
  color: white;
}

.free-trial {
  color: white;
  text-align: center;
  background-color: var(--clr-accent-Blue);
  border-radius: 10px;
  margin-bottom: 1.5rem;
  padding: 1rem;
  -webkit-box-shadow: 0 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 7px rgba(0, 0, 0, 0.3);
}

.error-icon {
  position: absolute;
  right: 5%;
  bottom: 55%;
  display: none;
  pointer-events: none;
}

.error-icon2 {
  bottom: 60%;
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--clr-neutral-Grayish-Blue);
  max-width: 579px;
  margin-left: auto;
}

.form-section .input-div {
  position: relative;
}

.form-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
}

.form-section form .terms-and-services {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  padding: 1rem 2rem;
  white-space: nowrap;
}

.form-section form .terms-and-services a {
  color: var(--clr-primary-Red);
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.form-section form .terms-and-services a:hover {
  text-decoration: underline;
}

.form-section form input {
  width: 100%;
  height: 2rem;
  border: 1px solid var(--clr-neutral-Grayish-Blue);
  border-radius: 5px;
  margin-bottom: 1.5rem;
  padding: 1.8rem 1.5rem;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
}

.form-section form input#last-name,
.form-section form input#first-name {
  text-transform: capitalize;
}

.form-section form input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-section form input:valid {
  color: #8c8b92;
}

.form-section form input:focus {
  outline: none;
  border-color: var(--clr-neutral-Dark-Blue);
  color: var(--clr-neutral-Dark-Blue);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-section form input:focus + label {
  opacity: 1;
}

.form-section form input.invalid {
  -webkit-box-shadow: 0 0 1px 2px var(--clr-primary-Red);
          box-shadow: 0 0 1px 2px var(--clr-primary-Red);
  color: var(--clr-primary-Red);
  border-color: var(--clr-primary-Red);
  margin-bottom: 2rem;
}

.form-section form input.invalid#pass {
  margin-bottom: 3rem;
}

.form-section form input.valid {
  -webkit-box-shadow: 0 0 1px 2px var(--clr-primary-Green);
          box-shadow: 0 0 1px 2px var(--clr-primary-Green);
  border-color: var(--clr-primary-Green);
}

.form-section form .error-p {
  color: var(--clr-primary-Red);
  position: absolute;
  bottom: 10%;
  right: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 0.7rem;
  display: none;
}

.form-section form input.invalid + label {
  color: var(--clr-primary-Red);
  opacity: 1;
}

.form-section form input:valid + label {
  opacity: 0;
}

.form-section form label {
  position: absolute;
  top: 20%;
  left: 5%;
  color: var(--clr-neutral-Dark-Blue);
  font-weight: 600;
  opacity: 0.6;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1000px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  main .hero-text .hero-title {
    font-size: 1rem;
    margin: 0;
  }
  main .form-section {
    width: 100%;
    height: 50%;
  }
  main .terms-and-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .free-trial {
    padding: 1rem 2rem;
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */